.container{
    display: grid;
  grid-template-columns: 1fr 2fr ;
    padding:3vmin;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    height:70vmin;
    width:auto; 
    margin: 3vmin;  
}
.right img{
    height:auto;
    width:100%;
}
.right{
    font-size: 2vmin;
}